table {
    border: 0px solid;
    border-collapse: collapse; 
    text-align: center;
    margin: 0px auto;
    

}

h1{
    text-align: center;
    color: blue;
}

h2{
    text-align:left;
    margin-bottom: 10px;
}

td {
    border: 1px solid black; 
    width: 75px; 
    height: 80px; 
    padding: 0; 
    margin: 0;
    font-weight: bolder;
}

th{
    width: 80px
}
.empty {
    visibility: hidden;
    border: 0px solid black; 
}

.empty2 {
    border: 0px solid black;
    width: 150px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.kovy {
    background-color: cornflowerblue;
}

.alkakovy {
    background-color: rgb(240, 91, 91);
}

.alkazeminkovy {
    background-color: orange;
}

.prechkovy {
    background-color: plum;
}

.polokovy {
    background-color: rgb(152, 255, 250);
}

.nekovy {
    background-color: rgb(113, 255, 47);
}

.halogeny {
    background-color: rgb(0, 183, 255);
}

.vzacneplyny {
    background-color: yellow;
}

.stred {
    margin-left: auto;
    margin-right: auto;
}

.pod{
    text-align: center;
    font-size: small;
    font-weight: normal;
}

.pod2{
        text-align: center;
        font-size: small;
        font-weight: normal;
        color: rgb(151, 151, 151);
}

.vedle{
    font-weight: normal;
    font-size: small;
}






.alkalickekovynahore{
    background-color: rgb(240, 91, 91);
    border: 1px white;
    font-weight: normal;
}

.kovyalkalickychzeminnahore{
    background-color: orange;
    border: 1px white;
    font-weight: normal;
}

.prechodnekovynahore{
    background-color: plum;
    border: 1px white;
    font-weight: normal;
}

.kovynahore{
    background-color: cornflowerblue;
    border: 1px white;
    font-weight: normal;
}

.polokovynahore{
    background-color: rgb(152, 255, 250);
    border: 1px white;
    font-weight: normal;
}

.nekovynahore{
    background-color: rgb(113, 255, 47);
    border: 1px white;
    font-weight: normal;
}

.halogenynahore{
    background-color: rgb(0, 183, 255);
    border: 1px white;
    font-weight: normal;
}

.vzacneplynynahore{
    background-color: yellow;
    border: 1px white;
    font-weight: normal;
}