table {
    border: 0px solid;
    border-collapse: collapse; 
    text-align: center;
    margin: 0px auto;

}

h1{
    text-align: center;
}

h2{
    text-align:left;
    margin-bottom: 10px;
}

td {
    border: 1px solid black; 
    width: 60px; 
    height: 60px; 
    padding: 0; 
    margin: 0;
}

th{
    width: 60px; 
    height: 60px; 
}
.empty {
    visibility: hidden;
    border: 0px solid black; 
}

.empty2 {
    border: 0px solid black;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.kovy {
    background-color: cornflowerblue;
}

.alkakovy {
    background-color: rgb(240, 91, 91);
}

.alkazeminkovy {
    background-color: orange;
}

.prechkovy {
    background-color: plum;
}

.polokovy {
    background-color: rgb(152, 255, 250);
}

.nekovy {
    background-color: rgb(113, 255, 47);
}

.halogeny {
    background-color: rgb(0, 140, 255);
}

.vzacneplyny {
    background-color: yellow;
}

.stred {
    margin-left: auto;
    margin-right: auto;
}










.alkalickekovynahore{
    background-color: rgb(240, 91, 91);
    font-size: small;
    border: 1px white;
}

.kovyalkalickychzeminnahore{
    background-color: orange;
    font-size: small;
    border: 1px white;
}

.prechodnekovynahore{
    background-color: plum;
    font-size: small;
    border: 1px white;
}

.kovynahore{
    background-color: cornflowerblue;
    font-size: small;
    border: 1px white;
}

.polokovynahore{
    background-color: rgb(152, 255, 250);
    font-size: small;
    border: 1px white;
}

.nekovynahore{
    background-color: rgb(113, 255, 47);
    font-size: small;
    border: 1px white;
}

.halogenynahore{
    background-color: rgb(0, 140, 255);
    font-size: small;
    border: 1px white;
}

.vzacneplynynahore{
    background-color: yellow;
    font-size: small;
    border: 1px white;
}